<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="http://cdn.hackerdojo.com/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<title>Room Reservation</title>
</head>	

<body>
	<div class="container">
		<div class="header">
			<div class="row">
  				<div class="col-md-9" id="hd-logo">
					<img src="static/hacker-dojo.png" class="img-responsive hd-logo"/>
  				</div>
  				<div class="col-md-3 hidden-xs hidden-sm" id="hd-username">
  					username
  				</div>
			</div>
		</div>		
		<div class="hd-resourcename"></div>
		<div class="container">
			<div class="row hd-week-nav-container">
				<div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4 text-center">
					<div class="text-center hd-week-nav"><a href="" class="prevButton btn btn-primary" role="button"> < </a></div>
					<div class="hd-display-week text-center hd-week-nav"></div>
					<div class="text-center hd-week-nav"><a href="" class="nextButton btn btn-primary" role="button"> > </a></div>
				</div>	
			</div>	
		</div>
		
		<table class="hd-schedule table table-bordered table-responsive">
			<thead>
				<tr>
					<th></th>
					<th id="sun" class="text-center">Sun</th>
					<th id="mon" class="text-center">Mon</th>
					<th id="tue" class="text-center">Tue</th>
					<th id="wed" class="text-center">Wed</th>
					<th id="thu" class="text-center">Thu</th>
					<th id="fri" class="text-center">Fri</th>
					<th id="sat" class="text-center">Sat</th>
				</tr>
			</thead>
			<tbody>
				{% for hour in hours %}
					<tr data-hour="{{hour*2}}">
						<th rowspan="2" class="text-center">{% if hour % 12 == 0 %}12{% else %}{{ hour % 12 }}{% endif %}{% if hour < 12 %}am{% else %}pm{% endif %}</th>
						{% for d in days %}
							<td data-day="{{d}}"></td>
						{% endfor %}
					</tr>
					<tr data-hour="{{hour*2+1}}">
						{% for d in days %}
							<td data-day="{{d}}"></td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>		
		</table>
	</div>  	
</body>	

<script src="static/jquery-1.11.0.js"></script>
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script type="text/javascript" src="static/date.js"></script>

<script>

	// -------------------------------------------------- //
	// Transform date object into string in the following format: YYYY-MM-DD
	// -------------------------------------------------- //

	var convertDateToString = function(dateObj) {
		// var dateString = dateObj.toLocaleDateString("en-US", {year: "numeric"}) + "-" + dateObj.toLocaleDateString("en-US", {month: "numeric"}) + "-" + dateObj.toLocaleDateString("en-US", {day: "numeric"});
		var dateString = Date.parse(dateObj.toLocaleDateString("en-US")).toString("yyyy-MM-dd");
		//console.log(dateObj); // Debug statement to read date object -Karen
		return dateString;
	}

	
	
	// -------------------------------------------------- //
	// fill slot with corresponding user name (Ajax call)
	// -------------------------------------------------- //
	var fillOutSlotFromDB = function(datesArray, roomParam) {
		// make AJAX call
		var datesArrayLength = datesArray.length;
		var weekDay = " ";
		var dateParam = " ";
		var respLength = 0;
		var slotCell = " ";
		var slotDay = " ";
		var slotDate;

		// Clear all content from calendar
		$("table.hd-schedule td").text("").each( function() {
			updateSlotStyle($(this), "display");
		});

		for (i=0;i<datesArrayLength;i++) {
			dateParam = convertDateToString(datesArray[i]);

			$.ajax({
				url: '/api/v1/schedule',
				type: 'GET',
				data: {date: dateParam, room: roomParam},
				dataType: 'json',
				success: function(resp) {

					respLength = resp.length;
					for (i=0;i<respLength;i++) {
						// var mydate = new Date(resp[i].date);
						var mydate = Date.parse(resp[i].date);						
						weekDay = mydate.getDay();

						if (resp[i].slot !== "") {	
							// Locate the slot and add owner name to that slot
							var $currentSlotObj = $("tr[data-hour='" + resp[i].slot + "']").find("td[data-day='" + weekDay + "']");
							// $currentSlotObj.text(resp[i].owner);
							$currentSlotObj.text(resp[i].owner.split("@")[0]);
							updateSlotStyle($currentSlotObj, "display");
						}
					}	
					
				},
				error: function(req, status, err) {
					//alert("Not able to populate slots. Error message: " + err); // Added by Giovanna 7/16

				}
			});
		}	
	}

	// -------------------------------------------------- //
	// Book slot Ajax call
	// -------------------------------------------------- //
	var updateSlot = function($slotObject, datesArray, roomParam, userName, action) {
		//$slotObject.text(userName);

		var dateParam =  "";
		var slotParam = "";
		var fullDateParam = ""; // Shows full date string -Karen
		// set parameters to send in the Ajax call
		var slotWeekDay = $slotObject.data("day");
		slotParam = $slotObject.closest("tr").data("hour");

		switch (slotWeekDay) {
			case 0:
				dateParam = convertDateToString(datesArray[0]);
				fullDateParam = datesArray[0];
				break;
			case 1:
				dateParam = convertDateToString(datesArray[1]);
				fullDateParam = datesArray[1];
				break;
			case 2:
				dateParam = convertDateToString(datesArray[2]);
				fullDateParam = datesArray[2];
				break;
			case 3:
				dateParam = convertDateToString(datesArray[3]);
				fullDateParam = datesArray[3];
				break;
			case 4:
				dateParam = convertDateToString(datesArray[4]);
				fullDateParam = datesArray[4];
				break;
			case 5:
				dateParam = convertDateToString(datesArray[5]);
				fullDateParam = datesArray[5];
				break;
			case 6:
				dateParam = convertDateToString(datesArray[6]);
				fullDateParam = datesArray[6];
				break;	
			default:
				dateParam = "";				
				fullDateParam = "";
				break;	
		}

		switch (action) {
			case "add":
				// make AJAX call to add slot
				// Add "deny add" change here instead so ajax call does not go through. -Karen

				var compareDate = Date.compare(Date.today(), fullDateParam);
				console.log(Date.today()); //debug code  -Karen
				console.log(fullDateParam); //debug code -Karen
				console.log(compareDate); //debug code  -Karen
				if (compareDate === (0 || -1)) {
						$.ajax({
						url: '/api/v1/add',
						type: 'POST',
						data: {slot: slotParam, date: dateParam, room: roomParam},
						success: function(resp) {
							if (resp === "True") {
								$slotObject.text(userName);
								updateSlotStyle($slotObject, "display");
								return true;
							} else {
								// display error message
								alert("Sorry, cannot book this slot!");
								return false;
							}
						},
						error: function(req, status, err) {
							alert("Not able to book slot. Error message: " + err); // Added by Giovanna 7/16
							return false;
						}

						});
				} else {
					// display error message
					alert("This date occurs in the past.");
					return false;
				}
				break;

			case "delete":
				// make AJAX call to delete slot
				var compareDate = Date.compare(Date.today(), fullDateParam);
				console.log(Date.today()); //debug code  -Karen
				console.log(fullDateParam); //debug code -Karen
				console.log(compareDate); //debug code  -Karen
				if (compareDate === (0 || -1)) {	
					$.ajax({
						url: '/api/v1/remove',
						type: 'POST',
						data: {slot: slotParam, date: dateParam},
						success: function(resp) {
							if (resp === "True") {
								$slotObject.text("");
								updateSlotStyle($(this), "display");
								return true;
							} else {
								alert("Error deleting slot");
								return false;
								}
						},
						error: function(req, status, err) {
							alert("Not able to book slot. Error message: " + err); // Added by Giovanna 7/16
							return false;
						}
					});
				} else {
					// display error message
					alert("This date occurs in the past.");
					return false;
				}
				break;	
		}
		return false;
	}


//						alert("Not able to book slot. Error message: " + err); // Added by Giovanna 7/16

	// -------------------------------------------------- //
	// update slot background
	// -------------------------------------------------- //
	
	var updateSlotStyle = function($slotObject, action) {
		switch (action) {
			case "mouse-over":
				if ($slotObject.text() === "" ) { 
					$slotObject.removeClass("displayEmptySlot");	
					$slotObject.removeClass("displayBookedSlot");	
					$slotObject.removeClass("mouseOverBookedSlotOwner");	
					$slotObject.removeClass("mouseOverBookedSlotNoOwner");	
					$slotObject.addClass("mouseOverEmptySlot");	
				} else {
					if (userName === $slotObject.text()) {
						$slotObject.removeClass("displayEmptySlot");	
						$slotObject.removeClass("displayBookedSlot");	
						$slotObject.removeClass("mouseOverEmptySlot");	
						$slotObject.removeClass("mouseOverBookedSlotNoOwner");	
						$slotObject.addClass("mouseOverBookedSlotOwner");				
					} else {
						$slotObject.removeClass("displayEmptySlot");	
						$slotObject.removeClass("displayBookedSlot");	
						$slotObject.removeClass("mouseOverEmptySlot");	
						$slotObject.removeClass("mouseOverBookedSlotOwner");	
						$slotObject.addClass("mouseOverBookedSlotNoOwner");				
					}

				} 
				break;
			case "mouse-out":
			case "display":
				if ($slotObject.text() === "" ) { 
					$slotObject.removeClass("displayBookedSlot");	
					$slotObject.removeClass("mouseOverEmptySlot");	
					$slotObject.removeClass("mouseOverBookedSlotOwner");	
					$slotObject.removeClass("mouseOverBookedSlotNoOwner");	
					$slotObject.addClass("displayEmptySlot");	
				} else {
					$slotObject.removeClass("displayEmptySlot");	
					$slotObject.removeClass("mouseOverEmptySlot");	
					$slotObject.removeClass("mouseOverBookedSlotOwner");	
					$slotObject.removeClass("mouseOverBookedSlotNoOwner");	
					$slotObject.addClass("displayBookedSlot");	
				}
				break;
		}
	}


	// -------------------------------------------------- //
	// get first Day Of Week
	// -------------------------------------------------- //
	var getFirstDayOfWeek = function($dateObj) {

		var weekDay = $dateObj.getDay();
		var firstDayOfWeek = $dateObj.clone();
		switch (weekDay) {
			case 0: //"Sun"
				// the date is Sunday, so return same date as firstDayOfWeek
				break;
			case 1: //"Mon"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 1);
				break;
			case 2: //"Tue"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 2);
				break;
			case 3: //"Wed"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 3);
				break;
			case 4: //"Thu"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 4);
				break;
			case 5: //"Fri"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 5);
				break;
			case 6: //"Sat"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 6);
				break;
		}
		return firstDayOfWeek;
	}

	// -------------------------------------------------- //
	// return Date in following format: ddd M/D. Example: " Sun 6/30 "
	// -------------------------------------------------- //
	var getDateColumnTitle = function($dateObj) {
		// return $dateObj.toLocaleDateString("en-US", {weekday: "short"}) + " " + $dateObj.toLocaleDateString("en-US", {month: "numeric", day: "numeric"});
		var DateVar = Date.parse($dateObj.toLocaleDateString("en-US"));
		//var dateColumnTittle = DateVar.toString("ddd") + " " + DateVar.toString("M") + "/" + DateVar.toString("d") ; Was printing code incorrectly -Karen
		// var dateColumnTittle = DateVar.toString("ddd") + " " + DateVar.toString(" d "); //String corrected from above -Karen
		// Giovanna - fixed the issue. Date.js library "d" format was taken as standard format M/d/yyyy. Added space so it is taken as "custom" format
		var dateColumnTittle = DateVar.toString("ddd") + " " + DateVar.toString("M") + "/" + DateVar.toString("d ") ; 
		return dateColumnTittle;
	}

	// -------------------------------------------------- //
	// calculate each date of the week
	// -------------------------------------------------- //
	var getWeekDaysArray = function(firstDayOfWeek, dateObj, displayOption) {
	// var getWeekDaysArray = function(firstDayOfWeek) {

		 var datesArray = [];
		 var newDate = firstDayOfWeek.clone();

		 // populate each day of the week in datesArray
		 for (i=0;i<=6;i++) {
			datesArray[i] = newDate.clone();
			newDate.setDate(newDate.getDate() + 1);
		 }

		 return datesArray;
	}

	// -------------------------------------------------- //
	// update Date, month and year displayed between the prev and next buttons and also the dates in each column of the calendar
	// -------------------------------------------------- //
	var updateDatesOnCalendar = function(firstDayOfWeek, datesArray) {  //firstDayOfWeek is a Date object
/*
		var firstDateOfWeek_day = firstDayOfWeek.toLocaleDateString("en-US", {day: "numeric"});
		var firstDateOfWeek_month = firstDayOfWeek.toLocaleDateString("en-US", {month: "short"});
		var firstDateOfWeek_year = firstDayOfWeek.toLocaleDateString("en-US", {year: "numeric"});
*/
		//var firstDateOfWeek_day = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("d");  
		var firstDateOfWeek_day = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("d ");  //Giovanna - added space in "d" format
		var firstDateOfWeek_month = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("MMM");
		var firstDateOfWeek_year = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("yyyy");

		console.log("firstDateOfWeek_day:" + firstDateOfWeek_day + ", firstDateOfWeek_month:" + firstDateOfWeek_month + ", firstDateOfWeek_year:" + firstDateOfWeek_year);

		var lastDateOfWeek = firstDayOfWeek.clone();
		lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);
/*		
		var lastDateOfWeek_day = lastDateOfWeek.toLocaleDateString("en-US", {day: "numeric"});
		var lastDateOfWeek_month = lastDateOfWeek.toLocaleDateString("en-US", {month: "short"});
		var lastDateOfWeek_year = lastDateOfWeek.toLocaleDateString("en-US", {year: "numeric"});
*/
		// var lastDateOfWeek_day = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("d");
		var lastDateOfWeek_day = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("d "); //Giovanna - added space in "d" format
		var lastDateOfWeek_month = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("MMM");
		var lastDateOfWeek_year = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("yyyy");


		console.log("lastDateOfWeek_day:" + lastDateOfWeek_day + ", lastDateOfWeek_month:" + lastDateOfWeek_month + ", lastDateOfWeek_year:" + lastDateOfWeek_year);	

		// update the date, month and year between prev and next buttons
		var currentWeekString = "";
		if (firstDateOfWeek_month === lastDateOfWeek_month) {
			currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + " - " + lastDateOfWeek_day + ", " + firstDateOfWeek_year;			
		} else if (firstDateOfWeek_year === lastDateOfWeek_year) {
			currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + " - " + lastDateOfWeek_month + " " + lastDateOfWeek_day + ", " + firstDateOfWeek_year;			
		} else {
			currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + ", " +  firstDateOfWeek_year + " - " + lastDateOfWeek_month + " " + lastDateOfWeek_day + ", " + lastDateOfWeek_year;						
		}
		$(".hd-display-week").text(currentWeekString);

		// update days inside calendar column headers
		var idValue = "";
		for (i=0;i<=6;i++) {
			switch (i) {
				case 0:
					idValue = "sun";
					break;
				case 1:
					idValue = "mon";
					break;
				case 2:
					idValue = "tue";
					break;
				case 3:
					idValue = "wed";
					break;
				case 4:
					idValue = "thu";
					break;
				case 5:
					idValue = "fri";
					break;
				case 6:
					idValue = "sat";
					break;
			}
			$("#" + idValue).text(getDateColumnTitle(datesArray[i]));
		}


	}

	// -------------------------------------------------- //
	// Update both, dates and content
	// -------------------------------------------------- //
	var updateCalendar = function(firstDayOfWeek, datesArray, room) {
		updateDatesOnCalendar(firstDayOfWeek, datesArray);	
		fillOutSlotFromDB(datesArray, room);
	}


	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// +++++++++++++++++++++++++ M A I N ++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	// Grab username
	var userName = "{{ username }}";
	console.log(userName);

	// Display username on upper right corner
	$("#hd-username").text(userName);	

	// extract the username portion before @hackerdojo.com
	userName = userName.split("@")[0];

	// Set room name
	var room = "Room XYZ";
	$(".hd-resourcename").text(room);

	// Initial Display
	var today = new Date();
	var firstDayOfWeek = getFirstDayOfWeek(today);

	// Identify device
	var displayOption = "week";
	// .................
	var datesArray = getWeekDaysArray(firstDayOfWeek, today, displayOption);
	// var datesArray = getWeekDaysArray(firstDayOfWeek);		
	updateCalendar(firstDayOfWeek, datesArray, room);

	// Initially disable prev button
	$(".prevButton").addClass("disabled");

	// Prev button
	$(".prevButton").click(function(e){
		e.preventDefault();
		if (today < firstDayOfWeek) {
			firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 7);
			datesArray = getWeekDaysArray(firstDayOfWeek);
			updateCalendar(firstDayOfWeek, datesArray, room);
			$(".nextButton").removeClass("disabled");  // enable next button in case it was disabled
			if (today > firstDayOfWeek) {
				$(".prevButton").addClass("disabled"); // disable prev button to prevent users from reserving rooms in the past
			}			
		} 
	});

	// Next button
	$(".nextButton").click(function(e){
		e.preventDefault();		
		// set firstDayOfWeek to 1 week ahead and update dates on calendar
		firstDayOfWeek.setDate(firstDayOfWeek.getDate() + 7);
		datesArray = getWeekDaysArray(firstDayOfWeek);
		updateCalendar(firstDayOfWeek, datesArray, room);
		
		$(".prevButton").removeClass("disabled");  // enable prev button in case it was disabled

		// calculate date 30 days from today
		var todayPlus30days = today.clone();
		todayPlus30days.setDate(todayPlus30days.getDate() + 30);
		// calculate last date of current week
		var lastDateOfWeek = firstDayOfWeek.clone();
		lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);

		if (todayPlus30days < lastDateOfWeek) {
			$(".nextButton").addClass("disabled"); // disable next button when the current week is beyond today + 30 days			
		}				
	});

	// Slot "hover" and "click" actions	
	$(".hd-schedule td").hover(function(){     // ---- Slot "hover" logic
			// mouse over
			updateSlotStyle($(this), "mouse-over");
		},
		function(){  
			//mouse out
			updateSlotStyle($(this), "mouse-out");
		}
	).click(function(){                     // ---- Slot "click" logic 
		var response;
		if ($(this).text() === "") {
			// book/add slot
			response = updateSlot($(this), datesArray, room, userName, "add");
		} else {
			// remove reservation
			if (userName === $(this).text()) {
				response = updateSlot($(this), datesArray, room, userName, "delete");
			} else {
				// display error message
				alert("Cannot delete slots from different owner");
			}			
		}
	});

</script>

</html>    

