
.hd-logo {
    background: transparent;   
    margin: 2em 4em 1em 4em;
}
.header {
    border-bottom: 0.5em solid #a3203f;
} 

#hd-logo, #hd-username {
   text-align: center;
   line-height: 8em;
}

.hd-resourcename {
    margin: 1em 0 1.5em 4em; 
    font-size: 120%;
}

.hd-week-nav-container {
    padding-bottom: 2em;
}

.hd-week-nav {
    display: inline-block;
}

.hd-display-week {
    font-size: 120%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.hd-schedule td {
    font-size: 0.8em;
    vertical-align: center;
    text-align: center;
}

.displayEmptySlot {
    background-color: #FFFFFF;  /* white */
    cursor: default;
}
.displayBookedSlot {
    background-color: #E0CAAE;  /* light tan */
    cursor: default;
    padding: 0px  !important;
}
.mouseOverEmptySlot {
    background-color: #FFFFFF; /* light tan */
    cursor: pointer;
}
.mouseOverBookedSlotOwner {
    background-color: #E0CAAE;  /* light tan */
    cursor: pointer;
    padding: 0px  !important;
}
.mouseOverBookedSlotNoOwner {
    background-color: #E0CAAE;  /* light tan */
    cursor: default;
    padding: 0px  !important;
}


/* Lightbox */
.lightboxOverlay {
    background-color:#000;
    opacity: .5;
    bottom:0px;
    left:0px;"
    overflow:auto;
    position:fixed;
    right:0px;
    top:0px;
    z-index:1000;
}

.lightboxDialog {
    background-color: white;
    border: 1px #000000 solid;
    border-radius: 5px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    right:0;
    top:70px;
    width: 400px;
    max-width: 90%;
    z-index:1001;
    position:fixed;
}

.lightbox p {
    /* style of message text */
}

.lightbox button {
    display:block;
    margin: 1em auto auto auto;
}
